body{
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
  background-repeat:no-repeat;
}

#header {
  background-color: #800000;
}

#nav {
  background-color: #FF0000;
}

#content {
  background-color: #FF4500;
}

#feature {
  background-color: #000000;
  background-image: url("https://wallpaperaccess.com/full/126545.jpg");
  background-size:contain;
  background-position: center;
  background-repeat:no-repeat;
}

.column1 {
  background-color: #FF0000;
}

.column2 {
  background-color: #00008B;
}

.column3 {
  background-color: #6B8E23;
}

#footer {
  background-color: #8B0000;
}

h1{
     font-family: 'KomiRegular';
     font-weight: normal;
     font-style: normal;
}
